@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Examen Progra</h1>
    <img src="https://preview.redd.it/fskpff0djggc1.png?auto=webp&s=3b18db6a28786601ac0f4e23208eb15a5df270b3" class="imagenpersonalizada" alt="Meme" />
    <div>
        <br />
        <button type="button" class="btn btn-dark">ALO</button>
    </div>
   
</div>
